form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

input[type=text]{
    width: 60%;
    height: 50px;
    border: solid rgb(22, 21, 21) ;
    border-radius: 4px;
    background-color:rgb(22, 21, 21);
    color: white;
    font-size: 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.20);

}

input[type=text],textarea:focus{
    outline: none;
}

textarea{
    width: 60%;
    min-height: 40px; 
    margin: 10px;
    border: solid rgb(22, 21, 21) ;
    border-radius: 4px;
    background-color:rgb(22, 21, 21);
    color: white;
    font-size: 18px;
    resize: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.20);
}

input[type=submit] {

    margin-top: 5px;
    width: 10%;
    padding: 6px 25px;
    background: green;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}
h1{
    text-align: left;
    margin-left: 20%;
    margin-top: 30px;
    color:grey;
    text-decoration: underline;
}
.list{
    color: aqua;
}
.card{
   
    display: Inline-flex;
    margin-left: 4%;
    color: antiquewhite;
    margin-bottom: 5%;
}

